<div class="footer">
    <table>
        <tr>
            <td class="line"></td>
            <td class="logo"><img src="{$baseUrl|noescape}/www/images/pdf-logo.png"/></td>
        </tr>
    </table>
    {l}PAGENO{r}/{l}nbpg{r}
</div>
