<div class="header">
    <table>
        <tr>
            <td class="logo"><img src="{$baseUrl|noescape}/www/images/logo.png"/></td>
            <td class="line">
            </td>
            <td class="title">{$title}</td>
        </tr>
    </table>
</div>
